<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <!-- CSSファイルの書式等をメインの画面に適用するためのコマンド-->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <!-- Vue.jsのライブラリをメインの画面に適用するためのコマンド-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!--ここにイメージを記述する-->
            <img v-bind:src="image"><!-- <img :src="image">の省略形でも行ける -->
          </div>
          <div class="product-info">
            <h1>{{product}}</h1>
            <!-- vue.js上で条件分岐を行う -->
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
            <p v-else>Out of Stock</p>
            <!-- Vue.jsで記述した配列の値をHTML上で表示させる -->
            <ul>
              <li v-for="detail in details">{{detail}}</li>
            </ul>
            <!-- HTML上に配列の値をHTML上で表示させるが、keyを設定してあげても一意で色を把握することができる。 -->
            <div v-for="variant in variants" :key="variant.id">{{ variant.color }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Import APP -->
    <script src="./main.js"></script>

    <!-- 作成したアプリをDOMにマウントする必要があります-->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>